In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("reviews_raw.csv")

In [4]:
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [5]:
df = pd.read_csv("reviews_ready.csv")
df.head()

,category,rating,label,text_,is_fake,category_id
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor...",1,3
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I...",1,3
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...,1,3
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i...",1,3
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...,1,3

In [6]:
df[["category_id", "rating", "is_fake", "text_"]].head()

,category_id,rating,is_fake,text_
0,3,5.0,1,"Love this! Well made, sturdy, and very comfor..."
1,3,5.0,1,"love it, a great upgrade from the original. I..."
2,3,5.0,1,This pillow saved my back. I love the look and...
3,3,1.0,1,"Missing information on how to use it, but it i..."
4,3,5.0,1,Very nice set. Good quality. We have had the s...

In [7]:
df.isnull().sum()

category       0
rating         0
label          0
text_          0
is_fake        0
category_id    0
dtype: int64

In [8]:
# Find the text with the longest length
df["text_"].str.len().max()

np.int64(2827)

In [9]:
# Find the average text length
df["text_"].str.len().mean()

np.float64(351.2719628017412)

In [10]:
# Find the average number of tokens in the text
df["text_"].str.split().str.len().mean()

np.float64(67.46542342698852)

In [11]:
# Find the greatest number of tokens in the text
df["text_"].str.split().str.len().max()

np.int64(373)